
<!--
    <div class="container">
        <header>
            <h3>Map Detail View</h3>
        </header>
        <div>
            <div class="row">
                <div class="span12">
                    <div class="indent">
                        <h4>A Map by {{ map.author[0].firstName + ' ' + map.author[0].lastName }}</h4>
                        {{map.description}}
                        <br />
                        {{map.about}}
                        <br /><br />
                    </div>
                </div>                
                <br /><br />
                <div class="span12">
                    <div data-ng-include="'../angularViva/app/partials/ordersTable.html'" />
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div connected-graph></div>
